* {
  box-sizing: border-box;
}
.select-container {
  width: 600px;
}
.select-value-container {
  height: 42px;
  border: 1px solid #DADBDF;
}
.select-placeholder,
.select-element-count,
.select-element-selected,
.select-loading,
.select-no-items-found {
    width: 100%;
    height: inherit;
    position: relative;
    top: -43px;
    left: 0px;
    padding: 12px 15px 12px;
    font-size: 16px;
    z-index: -1;
    background-color: #fff;
}
.select-search {
  height: 42px;
}
.select-search input {
  width: 100%;
  height: inherit;
  border: none;
  padding: 1px 15px 1px;
  font-size: 16px;
  background-color: transparent;
}
.select-search input:focus {
  background-color: #FFF;
}
.select-dropdown {
  background-color: #FFF;
  max-height: 250px;
  transition: max-height 200ms linear;
  overflow-y: scroll;
  border: 1px solid #DADBDF;
}
.select-option {
  cursor: pointer;
  padding: 10px 15px 10px;
}
.select-option:hover {
  background-color: #DADBDF;
}
.select-option.selected {
  background-color: #DADBDF;
}