<div class="select-container">

  <div class="select-value-container">

    <div class="select-search">
      <input type="text" #filterInput
        [readOnly]="!searchable"
        [disabled]="disabled"
        [value]="filterValue"
        (input)="handleFilter(filterInput.value)"
        (blur)="handleBlur($event)"
        (focus)="handleFocus($event)">

        <div class="select-placeholder" *ngIf="selected.length === 0">{{ placeholder }}</div>

        <div class="select-element-count" *ngIf="multiple && selected.length">{{ selected.length }} Selected</div>

        <div class="select-element-selected" *ngIf="!multiple && selected.length">{{ selected[0].label }}</div>
    </div>

    <div class="select-loading" *ngIf="loading">{{ loadingText }}</div>

    <div class="select-no-items-found" *ngIf="items.length === 0">{{ notFoundText }}</div>

  </div>

<div class="select-dropdown" *ngIf="isOpen">

  <ng-container *ngFor="let item of _filtered">
    <div class="select-option" [ngClass]="item.selected ? 'selected' : ''" (click)="toggleItem(item)">{{ item.label }}</div>
  </ng-container>

</div>

</div>